* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #252B42;
}

.header {
  position: absolute;
  width: 100%;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 104px;
}

.container {
  max-width: 1070px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.logo {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
.menu__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.menu__bts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 2px 20px;
}
.menu__tog-btn {
  display: none;
}

.btn2 {
  height: 20px;
  width: 20px;
}

.main {
  background-image: url("../img/main.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.main__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 104px;
}
.main__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 34px;
  max-width: 509px;
}
.main__title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: 0.2px;
}
.main__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
.main__btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.main__img {
  max-width: 509px;
}
.main__img1 {
  margin: 0 -28px;
}
.main__btn-get {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 36px;
  border-radius: 37px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  background-color: #784F33;
  color: #FFFFFF;
}
.main__btn-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 36px;
  border-radius: 37px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  border: 1px solid #784F33;
  color: #784F33;
}

.practice-areas__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 100px 0px;
}
.practice-areas__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.practice-areas__title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
}
.practice-areas__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: center;
}
.practice-areas__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.practice-areas__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 40px;
  width: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #F9F9F9;
  border-radius: 5px;
}
.practice-areas__item:hover {
  background-color: #295C7A;
  color: #FFFFFF;
  filter: brightness(5);
}
.practice-areas__img {
  width: 53px;
  height: 53px;
  filter: brightness(5);
}
.practice-areas__txt {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  letter-spacing: 0.1px;
}

.practice-advice {
  background: #FAFAFA;
  text-align: center;
}
.practice-advice__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 80px 0px;
}
.practice-advice__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 45px 0px;
}
.practice-advice__title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
}
.practice-advice__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.practice-advice__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  align-items: stretch;
}
.practice-advice__card-item {
  width: 100%;
  background-color: #fff;
  text-align: start;
  margin: 0 auto;
}
.practice-advice__card-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 30px;
}
.practice-advice__card-title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  letter-spacing: 0.1px;
  width: 81%;
}
.practice-advice__card-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 90%;
}
.practice-advice__card-img img {
  width: 100%;
}

.about__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 100px 0;
}
.about__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.about__title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
}
.about__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: center;
}
.about__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.about__cont-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.about__cont-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0;
}
.about__cont-title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
}
.about__cont-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 91%;
}
.about__cont-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}
.about__cont-card img {
  width: 32px;
  height: 32px;
}
.about__cont-card-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
.about__cont-card-title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  letter-spacing: 0.1px;
}
.about__cont-card-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.about__video {
  background-image: url("../card-item.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 600px;
  height: 442px;
}

.clients {
  position: relative;
  background: #FAFAFA;
}
.clients__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.clients__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
}
.clients__item {
  padding: 0 25px;
}
.clients__item img {
  width: 100%;
}
.clients__subscribe {
  margin: 20px 0;
  padding: 30px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 180px;
  width: 100%;
  background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
  color: #FFFFFF;
}
.clients__cta {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  letter-spacing: 0.1px;
  text-align: left;
}
.clients__input {
  position: relative;
}
.clients__txt {
  width: 450px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  padding-right: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.clients__btn {
  position: absolute;
  right: 0px;
  top: 0;
  background: #D0A144;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  padding: 15px 22.5px;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.clients__bg {
  position: absolute;
  bottom: 0;
  background: #252B42;
  height: 77px;
  width: 100%;
}

.contact {
  background: #F3F3F3;
}
.contact__inner {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.contact__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contact__title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
}
.contact__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.contact__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #FFFFFF;
  padding: 50px 40px;
}
.contact__card:hover {
  padding: 80px 40px;
  color: #FFFFFF;
  background: #252B42;
}
.contact__card-cont {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.contact__card-title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  letter-spacing: 0.1px;
}
.contact__card-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  border: 1px solid #D0A144;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #D0A144;
}

.reqvest__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 360px;
  width: 100%;
  padding: 40px 0;
}
.reqvest__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}
.reqvest__title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  letter-spacing: 0.1px;
}
.reqvest__subtitile {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.reqvest__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin: 0 39px;
  background: #784F33;
  color: #FFFFFF;
}

.footer {
  background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
  color: #FFFFFF;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 50px 0;
}
.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
}
.footer__title {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  letter-spacing: 0.1px;
}
.footer__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  color: #FFFFFF;
}
.footer__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
}
.footer__contacts {
  min-width: 320px;
}
.footer__support {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.sub-footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 25px 0;
}
.sub-footer__txt {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.sub-footer__msgrs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
}

@media (max-width: 1100px) {
  .main__img1 {
    width: 100%;
  }
  .about__video {
    min-width: 400px;
  }
  .contact__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .reqvest__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    justify-content: space-between;
    padding: 40px 0;
  }
}
@media (max-width: 865px) {
  .main__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 108px;
    text-align: center;
  }
  .main__cont {
    align-items: stretch;
  }
  .main__title {
    font-family: "Martel";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
  }
  .main__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .practice-advice__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .about__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }
  .about .about__video {
    min-width: 333px;
  }
  .clients__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .clients__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 50px 0;
  }
  .clients__form {
    width: 100%;
  }
  .clients__cta {
    text-align: center;
  }
  .contact__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .reqvest__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 0;
    padding-left: 90px;
  }
  .footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-left: 90px;
  }
  .footer__contacts {
    min-width: 0;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 95%;
  }
  .menu__tog-btn {
    display: block;
  }
  .menu__list {
    display: none;
  }
  .practice-areas__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .clients__txt {
    width: 337px;
  }
  .clients__subscribe {
    padding: 20px 0;
    width: 100%;
  }
  .sub-footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}/*# sourceMappingURL=style.css.map */